*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', Times, serif ;
}
:root{
 scroll-behavior: smooth;   
}
body{
    font-family: 'Open Sans','san-serif';
    
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}
header{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(161, 140, 209, 0.5) 0%, rgba(251, 194, 235, 0.5) 100%),url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:center;

}

.contenedor-fondo{
    background-color: rgba(96, 13, 124, 0.5);
    height: 3.7rem; 
    width: 3.7rem;
    margin-top: 35px;
    position: fixed;
    border-radius: 0 10px 10px 0;
}
.head{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffff;
    text-align: center;
}
.menu{
    position: fixed;
    top: 39px;
    left: 10px;
    width: 50px;
    cursor: pointer;
    
}
.menu-carrito{
    position: fixed;
    top: 39px;
    right:  10px;
    width: 50px;
    cursor: pointer;
}
.contenedor-fondo-carrito{
    background-color: rgba(96, 13, 124, 0.5);
    height: 3.7rem; 
    width: 3.7rem;
    margin-top: 35px;
    position: fixed;
    border-radius: 10px 0 0 10px;
    right: 2px;
}

.menu-navegacion{
    position: fixed;
    top: 0px;
    left: 0;
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: translate(-110%);
    background-image: linear-gradient(to top, rgb(250, 208, 196) 0%, rgb(255, 209, 255) 100%);
    box-shadow: 0 0 6px rgba(175, 67, 202, 0.5); 
}
.img-header{
    width: 10%;
    box-shadow: 0 0 6px rgba(175, 67, 202, 0.5); 
    border-radius: 50%;
}



  

/* Input buscador  */
.buscador{
    margin-top: 2%;
    margin-bottom: 5%;
    width: 500px;
    height: 40px;
    border-radius: 15px;
    background-color: rgba(250, 250, 250, 0.6);
    color: rgb(131, 112, 112);
    font-family:'Open Sans', Times, serif ;
    text-align: center;
    font-size: 1.2em;
    border: 0;
    font-weight: bold;

}
.buscador:focus, input:focus, input[type]:focus {
    border-color: rgb(255, 255, 255);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075)inset, 0 0 8px rgba(255, 255, 255, 0.6);
    outline: 0 none;
}

.buscador::placeholder{
    font-size: 1.2em;
    font-style: 'Open Sans', Times, serif ;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
}
  /* FIN INPUT */


.spread{
    transform: translate(0);
}
.menu-navegacion a{
    color: #ffff;
    text-decoration: none;
}
.titulo{
    font-size: 60px;
    margin-bottom:15px ;
}
.copy{
    font-weight: 300;
    font-size: 25px;
}

/* Nuestros servicios */
.subtitulo-mayor{
    text-align: center;
    font-weight: 300;
    color: #9f8ad0;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: bold;
}
.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #9f8ad0;
    margin-bottom: 40px;
    font-size: 40px;
}
.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.contenedor-servicio img{
    width: 20%;
}

/* GALERIA */
.gallery{
    background-color: #f2f2f2;
    padding: 4%;
}
.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:2.5%;
}
.img-galeria{
    
    object-fit: cover;
    width: 25%;
    display: block;
    margin-bottom: 5%;
    box-shadow :0 0 6px rgba(175, 67, 202, 0.5); 
    cursor: pointer;
    border:6px solid #ffff;
    /* margin-right: 1px; */
   
}
/* img mostrar */
.imagen-light{
    position: fixed;
    background: rgba(0, 0, 0,.5);
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
     align-items: center;
     transform: translate(100%);
     transition: transform 2.s ease-in-out;
}
.show{
    transform: translate(0);
}
.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}
.showImage{
    transform: scale(1);
}
.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

/*fin img mostrar  */
/* FIN GALERIA */

/* FOoTER */
footer{
    background: #9f8ad0;
    padding-bottom: 0.1px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}
.contact-us{
    width: 40%;
    color: #ffff;
}
.brand{
    font-weight: 500;
    font-size: 40px;
}
.brand+p{
    font-weight: 500;
}
.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #ffff;
    border-radius: 50%;
    text-align: center;
    color: #ffff;

}
.social-media-icon:hover{
    background: #ffff;
    color: #764ba2;
}
.social-media-icon i{
    font-size: 30px;
    line-height:60px;
}
.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #ffff;
    margin-bottom: 60px;
}
/* FIN FOOTER */

/* Barra Lateral */
.menu_side{
    width: 0px;
    height: 100%;
    background-color: #9f8ad0;
    position: fixed;
    color: #ffff;
    font-size: 18px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(175, 67, 202, 0.74); 
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);

}
.name_page{
    padding: 20px 100px;
    display: flex;
    margin-top: 10px;
}
.menu_side .btn_cerrar{
    margin-left: 220px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.menu_side .btn_cerrar i{
    font-size: 25px;
}
.menu_side .btn_cerrar i:hover{
    cursor: pointer;
}
.options_menu{
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}
.options_menu a{
    color: #E7EBDA;
    cursor: default ;
    display: block;
    position: relative;
    transition: color 300ms;

}
.options_menu a:hover{
    color: #ffff ;
}

.options_menu .option{
    padding: 20px 0px;
    /* display: flex;
    align-items: center; */
    position: relative;
}
.options_menu .option h4{
    font-weight: 300;
    cursor: pointer;
}
.options_menu a.selected{
    color: #ffff;
}
.options_menu a.selected:before{
    content: '';
    width: 3px;
    height: 80%;
    background: #ffff;
    position: absolute;
    top: 10%;
    left: -30px;
}

/* Fin Barra lateral */
/* javascript barra lateral */
.side_move{
    width: 250px;
    transition: color 300ms ;
}
/* FIn barra lateral javascript */
/* BOTON ARRIBA  */
.boton_arriba{
    width: 60px;
    height: 60px;
    background: #764ba2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 60px;
    position: fixed;
    bottom: 50px;
    right: 20px;
    cursor: pointer;
    border:4px solid transparent;
    transition: all 300ms ease;
    transform: scale(0);
}
.boton_arriba:hover{
    transform: scale(1.1);
    border-color: rgba(0,0,0,0.1);
}
/* BOTON ARRIBA FIN */

@media screen and (max-width:800px  ) {
     .menu-navegacion{
         width: 50vw;
     }
     .titulo{
         font-size: 40px;
     }
     .agregar-imagen{
         width:80% ;
     }
     .img-galeria{
         width: 80%;
         
     }
     .footer-content{
         justify-content: center;
     }
     .social-media{
         width: 80%;
         justify-content: space-evenly;
     }
     .social-media i{
         margin-left: 0;
     }
     .contact-us{
         text-align: center;
         width: 80%;
         margin-bottom: 40px;
     }


     .img-header{
        width: 30%;
        box-shadow: 0 0 6px rgba(175, 67, 202, 0.5); 
        border-radius: 50%;
    }

    .buscador{
        margin-top: 8%;
        border-radius: 60px;
    
    }
}